*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'roboto',sans-serif;
    margin: 0;
}
h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
ul{list-style: none;}
li{font-size:1.25em;}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px  rgba(0,0,0,0.5);
    color: rgb(250, 249, 250);
    background-color: rgb(40, 3, 75);

}
button:hover{
    background-color: rgb(101, 39, 160);    
}
.container{
    max-width: 1400px;
    margin: auto;
}
.color-acento{color: rgb(0, 0, 0);}
header{
    background-color: rgb(77, 94, 81); 

}
header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color:rgb(12, 20, 126);
    font-size: 1.6em;
}
header .container{
display: flex;
flex-direction: column;
align-items: center;

}
header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}
header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;

}
header a:hover{
    color: blueviolet;
}
#hero{
    
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
    )
    ,url(ivan3.jpg);
    background-size: cover;
    background-position: center center;

}
#hero h1{
    color: white;
}

#hero button{
    font-size: 1.75;
}


#Ivan .container{
    text-align: center;
    padding: 150px 12px;

}
#Mi-deporte{
background-color: rgb(30,30,30);
color: white;
text-align: center;
}
#Mi-deporte .container{
    padding: 150px 12px;
}
#Mi-deporte h2{
    margin-top: 0;
    text-align: center;
    font-size: 5em;
}
.programas{
display: flex;

}
#Mi-deporte .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;

}
.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url(kumite2.jpg);
}
.carta:first-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url(kumite2.jpg);
}
.carta:first-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url(kumite2.jpg);
}

#caracteristicas .container{
text-align:left;
padding: 200px 220px;
}
#caracteristicas li{
    margin: 12px 0px;
    font-weight: bold;
    list-style: none;
}
#caracteristicas h2{
    margin: 12px 0px;
    text-align: center;
    font-size: 2em;
    color: rgb(17, 10, 109);
}
#final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(99, 122, 145);
    height: 80vh;
    color: white;
}
#final button{
    font-size: 4vw;
}
footer{
    background-color: rgb(59, 96, 163)
}
footer p{
    margin: 0;
    padding: 12px;
    color: rgb(119, 48, 48);
}
footer .container{
height: 150px;
display: flex;
justify-content: center;
justify-content:flex-end;
}
@media(min-width:720px){
    header{
        position: fixed;
    width: 100%;
    }
header .container{
    flex-direction: row;
    justify-content: space-between;
}
header nav{
    flex-direction: row;
padding-bottom: 0;
padding-right:20px ;
}
#Ivan .container{
display: flex;
justify-content:space-evenly;
}
#Ivan .texto{
max-width: 600px;
text-align: center;
padding-left: 30px;
display: flex;
flex-direction: column;
justify-content: center;
height: 407px;
}
.img-container{
    background-image:url(ivan2.jpg);
    background-size: cover;
    background-position: center center;
    height: 500x;
    width: 400px;
}
#Mi-deporte .programas{
justify-content: center;
}
#Mi-deporte p{
display: block;
margin-bottom: 30px;
}
#Mi-deporte .carta{
    padding: 15px;
    margin: 0;
}
.contenedor{
    display: flex;
}
.contenedor ul{
    margin: 0;
    padding: 10px 5px;
    font-weight:lighter;
    color:rgb(2, 3, 15);
    font-size: 1.6em;
}

#caracteristicas h2{
    font-size: 5em;
}
#caracteristicas .container{
    text-align: initial;
}

#final h2{
    font-size: 2em;
}
#final button{
    font-size: 2em;
}
footer .container{
    justify-content: flex-end;
}}
@media (min-widh:1200px){
    #caracteristicas{
        background-position-x: calc(100vw - 800px);
    }
}








